.overlay {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .7;
	background: #aaaaaa;
}

.navbar-alert {
	position: absolute;
	z-index: 10500;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	min-width: 100px;
	border-color: #777;
}

/*why doesn't this already exist?*/
.caret-up {
	content: "";
	border-top: 0;
	border-bottom: 4px solid;
}
