<div class="cm-editor">
 <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="{{^viewFirst}}active{{/viewFirst}}" title="Edit markdown">
			<a href="#edit" aria-controls="edit" role="tab" data-toggle="tab">
				<span class="glyphicon glyphicon-pencil"></span>
			</a>
		</li>
    <li role="presentation" class="{{#viewFirst}}active{{/viewFirst}}" title="View" on-click="parse">
			<a href="#view" aria-controls="view" role="tab" data-toggle="tab">
				<span class="glyphicon glyphicon-eye-open"></span>
			</a>
		</li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="edit">
			<textarea class="form-control" value="{{markdown}}" placeholder="Enter markdown here"></textarea>
		</div>
    <div role="tabpanel" class="tab-pane" id="view">
			<div class="parsed">
				{{{parsed}}}
			</div>
		</div>
  </div>
</div>

<style>
.tab-content, #edit, #view, .parsed, #edit>textarea {
	height: 100%;
}

#edit>textarea {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top-width: 0px;
	box-shadow: 0px 0px 0px; 
}

.cm-editor {
	min-height: 100px;
}

</style>

<script>
component.exports = {
	data: {
		viewFirst: false,
	},
	onrender: function() {
		var reader = new commonmark.Parser();
		var writer = new commonmark.HtmlRenderer();
		var r = this;

		r.on({
			"parse": function(event) {
				var parsed = reader.parse(r.get("markdown"));
				r.set("parsed", writer.render(parsed));		
			},
			
		});

	},

};
</script>
