<span class="draggable {{class}}" decorator="draggable">
	{{yield}}
</span>

<style>
	
</style>

<script>

component.exports = {
	//defaulted options, can be overridden at component markup
	// options to be added as needed, and they should match
	// the jqueryui options
	data: {
			useParent: false,
			addClasses: false,
			revert: false,
			snap: false,
			containment: false,
			zIndex: false,	
			disabled: false,
			dragData: {},
	},
	decorators: {
		draggable: function (srcNode) {
			var r = this;
			var node;
			if(r.get("useParent")) {
				node = srcNode.parentNode;	
			} else {
				node = srcNode;
			}
			$(node).draggable({
				addClasses: r.get("addClasses"),
				revert: r.get("revert"),
				snap: r.get("snap"),
				containment: r.get("containment"),
				zIndex: r.get("zIndex"),
				disabled: r.get("disabled"),
				start: function(event, ui) {
					ui.dragData = r.get("dragData");
				},
			});
			return {
				teardown: function () {
					$(node).draggable("destroy");
				}
			};
		},
	},

	init: function() {
	},

};
</script>
