<div class="filetree">
	{{#error}}
		<div class="alert alert-danger" role="alert">{{error}}</div>
	{{/error}}
	{{#root}}
		{{>folder}}
	{{/root}}
	
	
</div>

<!-- {{>folder}} -->
<ul>
  {{#files}}
		{{>file}}
  {{/files}}
</ul>
<!-- {{/folder}} -->

<!-- {{>file}} -->
<li>
  <span><a href="#" class="{{#selected}}selected{{/selected}}" on-click="select">{{name}}</a></span>
	{{#if this.hasOwnProperty("size")}}
		{{>folder}}
	{{/if}}
</li>
<!-- {{/file}} -->

<style>

</style>

<script>
component.exports = {
	data: {
		rootDir: "/v1/file/",
		root: {
			files: [],
		},
	},
	init: function() {
		var r = this;

		getFile(r.get("rootDir"), "root");
		
		this.on({
			"select": function(event) {
					r.set(event.keypath+".selected", true);
					if (!event.context.hasOwnProperty("size")) {
						getFile(event.context.url, event.keypath);
						return;
					} 
			},

		});

		function getFile(file, keypath) {
			fh.properties.get(file)
				.done(function(result) {
					var files = result.data;

					console.log("keypath: ", keypath);
					r.set(keypath+".files", files);	
					console.log(r.get("root"));
				})
				.fail(function(result) {
					r.set("error", result.message);
				});

		}
	},

};
</script>
