<div class="filetree">
	{{#error}}
		<div class="alert alert-danger" role="alert">{{error}}</div>
	{{/error}}
	{{#root}}
		{{>folder}}
	{{/root}}
	
	
</div>

<!-- {{>folder}} -->
<ul>
  {{#files}}
    {{>file}}
  {{/files}}
</ul>
<!-- {{/folder}} -->

<!-- {{>file}} -->
<li>
  <span><a href="#" class="{{#selected}}selected{{/selected}}" on-click="select">{{name}}</a></span>
  {{#if type === "folder"}}
    {{>folder}}
  {{/if}}
</li>
<!-- {{/file}} -->

<style>

</style>

<script>
component.exports = {
	data: {
		rootDir: "/v1/file/",
		root: {},
	},
	init: function() {
		var r = this;

		getFile(r.get("rootDir"), "root");
		
		this.on({
			"select": function(event) {
					r.set(event.keypath+".selected", true);
					if (event.context.isFolder) {
						getFile(event.context.url);
						return;
					} 
			},

		});

		function getFile(file, keypath) {
			fh.properties.get(file)
				.done(function(result) {
					var files = result.data;
					for (var i = 0; i < files.length; i++) {
						if (!files[i].hasOwnProperty("size")) {
							files[i].type = "folder";	
						}
					}

					r.set(keypath+".files", files);	
				})
				.fail(function(result) {
					r.set("error", result.message);
				});

		}
	},

};
</script>
