<div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-hidden="true"> 
	<div class="modal-dialog{{#large}} modal-lg{{/}}{{#small}} modal-sm{{/}}"> 
		<div class="modal-content"> 
			<div class="modal-header"> 
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span></button> 
				<h4 class="modal-title">{{title}}</h4> 
			</div> 
			<div class="modal-body">{{yield}}</div> 
			{{^customFooter}} 
				<div class="modal-footer"> 
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
				</div> 
			{{/customFooter}} 
		</div> 
	</div> 
</div>


<script>
	component.exports = {
			data: {
					title: "Modal Title",
					id: "modalId",
					customFooter: false,
					large: false,
					small: false,
			}
	//TODO: Help popout
	};
</script>
