<div class="{{class}}" decorator="selectable" {{#.useParent}}style="display:none;"{{/}}>
	{{yield}}
</div>

<style>
	.ui-selectable-helper { 
		position: absolute; z-index: 500; border:1px dotted black; 
	}	
</style>

<script>

component.exports = {
	//defaulted options, can be overridden at component markup
	// options to be added as needed, and they should match
	// the jqueryui options
	data: {
			useParent: false,
			disabled: false,
			filter: "*",
			dataAttribute: false,
			idAttribute: false,
			delay: 0,
			cancel: null,
			selected: [],
	},
	noCssTransform: true,
	decorators: {
		selectable: function (srcNode) {
			var r = this;
			var node;
			if(r.get("useParent")) {
				node = srcNode.parentNode;	
			} else {
				node = srcNode;
			}

			$(node).selectable({
				disabled: r.get("disabled"),
				filter: r.get("filter"),
				cancel: r.get("cancel"),
				delay: r.get("delay"),
				selected: function(event, ui) {
					var data;
					if (r.get("dataAttribute") && r.get("idAttribute")) {
						data = ui.getAttribute(r.get("dataAttribute"));
					} else {
						data = ui;
					}
				},
				unselected: function(event, ui) {
					r.pop("selected");	
				},
				stop: function(e, ui) {
					r.fire("selected", r.get("selected"));
				},
			});
			return {
				teardown: function () {
					$(node).selectable("destroy");
				}
			};
		},
	},

	init: function() {
		var r = this;
		
		r.on({
			"reset": function(event) {
				var selected = r.get("selected");
				for(var i = 0; i < selected.length; i++) {
					$(selected[i].selected).removeClass('ui-selected');
					r.pop("selected");
				}
			},
		});
		
	},

};
</script>
