<span class="selectable {{class}}" decorator="selectable">
	{{yield}}
</span>

<style>
	
</style>

<script>

component.exports = {
	//defaulted options, can be overridden at component markup
	// options to be added as needed, and they should match
	// the jqueryui options
	data: {
			useParent: false,
			disabled: false,
	},
	decorators: {
		selectable: function (srcNode) {
			var r = this;
			var node;
			if(r.get("useParent")) {
				node = srcNode.parentNode;	
			} else {
				node = srcNode;
			}
			$(node).selectable({
				disabled: r.get("disabled"),
			});
			return {
				teardown: function () {
					$(node).selectable("destroy");
				}
			};
		},
	},

	init: function() {
	},

};
</script>
