.app-tile {
	position: relative;
	width: 140px;
	height: 140px;
	margin-top: 10px;
}

.app-icon {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.app-id {
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0px;
}
