.admin-control-group {
	width: 100%;

}

#filterLabel {
	margin-right: 10px;
}

#filterText {
	margin-left: 10px;
}

#filterSpinner {
	width: 28px;
	height: 28px;
}

@media (min-width: 768px) {
	#filterText {
		width: 470px;
	}

}

@media (max-width: 768px) {
	#filterSpinner {
		display: none;
	}
}

